<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Main Page</a></li>
            <li><a href="badges.html">Courses</a></li>
            <li><a href="collapsible.html">Add Courses</a></li>
        </ul>
    </div>
</nav>